# ==========================================
# Terraform
# ==========================================

# Terraform working directory
**/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.*

# Terraform plans
*.tfplan
*.tfplan.json

# Terraform crash logs
crash.log
crash.*.log

# # Variable files containing secrets
# *.tfvars
# *.tfvars.json

# Keep example variable files
!*.tfvars.example

# Terraform lock file
# KEEP THIS FILE - do NOT ignore it
#!.terraform.lock.hcl